*{
    padding: 0;
    margin: 0;
}

body{
    font-family: Helvetica Rounded;
    color: white;
    font-weight: bold;
    background-color: #1C2833;
}



.Top-Middle-Nav{
    text-decoration: underline;
    display: flex;
    justify-content:center;
    align-items: center;
    margin-top: 20px;
    font-size: 50px;    
    font-weight:bold;
    background-color: #17202A; 
    margin-top: auto;
}

.Nav-Image{
    position: absolute;
    right: 1%;
}

.Logo a:visited{
    color: #17202A;
}


.Top-Left-Nav {
    display: flex;
    justify-content: space-around;
    gap: 15px;

}

  
.Project {
    box-sizing: border-box;
    text-align: center;
    display:block;
    margin: 0 auto;
    margin-top: 100px;
    height: 500px;
    width: 1000px;
}

.Top-Left-Nav a:visited{
    color: white;
}

.Top-Left-Nav a {
    color: #FFFFFF;
    text-decoration: none;
}

.Languages{
    box-sizing: border-box;
    text-align: center;
    display:block;
    margin: 0 auto;
    margin-top: 100px;
    height: 500px;
    width: 1000px;
}


.About-me{
    box-sizing: border-box;
    text-align: center;
    display:block;
    margin: 0 auto;
    margin-top: 100px;
    height: 500px;
    width: 1000px;
}



.Contact{
    box-sizing: border-box;
    text-align: center;
    display:block;
    margin: 0% auto;
    margin-top: 100px;
    height: 500px;
    width: 1000px;    
}

.Copyright{
    text-align:center ;
    text-decoration: underline;
    }


.Button-Top{
    text-align: center;
    color: white; 
}

.Button-Top a:visited{
    color: white;
}

.Button-Top a {
    color: #FFFFFF;
    text-decoration: none;
}